* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.15rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container {
  background: cornflowerblue;
  width: 450px;
}

.calendar-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

header .calendar-navigation span {
  cursor: pointer;
  height: 32px;
  width: 32px;
  text-align: center;
}

.calendar-current-date {
  font-weight: bold;
}

.calendar-body ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -40px;
}

.calendar-body li {
  width: calc(100% / 7);
}

.calendar-body .calendar-weekdays li {
  font-weight: bold;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
}

.calendar-dates li.today {
  color: aqua;
}

.calendar-dates li.prev-month {
  color: rgba(0, 0, 0, 0.389);
}
.calendar-dates li.next-month {
  color: rgba(0, 0, 0, 0.389);
}